# --- DJANGO ---
DEBUG=False
SECRET_KEY=yoursecretkeyhere
ALLOWED_HOSTS=campushub.cm,*.campushub.cm,localhost,127.0.0.1
SITE_BASE_URL=https://campushub.cm

# --- DATABASE ---
DB_NAME=campushub_db
DB_USER=campushub_user
DB_PASSWORD=campushub_pass
DB_HOST=postgres
DB_PORT=5432

# --- REDIS ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- CELERY ---
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_TIMEZONE=Africa/Douala

# --- SECURITY ---
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

# --- IA (GROQ) ---
GROQ_API_KEY=gsk_your_primary_key_here
GROQ_API_KEY_ASSISTANT=gsk_assistant_key_here
GROQ_API_KEY_NAV=gsk_nav_key_here
GROQ_API_KEY_COACH=gsk_coach_key_here
GROQ_API_KEY_ORIENTATION=gsk_orientation_key_here

# --- PAIEMENTS ---
CINETPAY_SITE_ID=123456
CINETPAY_API_KEY=apikey
FLUTTERWAVE_SECRET_KEY=FLWSECK-xxxx
FLUTTERWAVE_PUBLIC_KEY=FLWPUBK-xxxx
FLUTTERWAVE_SECRET_HASH=mysupersecret

# --- COMMUNICATIONS (DAILY.CO) ---
DAILY_API_KEY=your_daily_api_key
DAILY_DOMAIN=your_daily_domain.daily.co
