# --- DJANGO ---
DEBUG=False
SECRET_KEY=yoursecretkeyhere
ALLOWED_HOSTS=campushub.cm,*.campushub.cm,localhost,127.0.0.1

# --- DATABASE ---
DB_NAME=campushub_db
DB_USER=campushub_user
DB_PASSWORD=campushub_pass
DB_HOST=postgres
DB_PORT=5432

# --- REDIS ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- CELERY ---
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# --- SECURITY ---
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

# --- OTHER ---
GROQ_API_KEY=your_api_key_here
