{% extends "base.html" %}
{% block title %}400 - Requête Invalide{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    <h1 style="font-family: 'Orbitron', sans-serif; font-size: 6rem; color: #aaa;">400</h1>
    <p class="text-info fs-4" style="font-family: 'Share Tech Mono', monospace;">
        > ERROR: INVALID_REQUEST_SYNTAX<br>
        > SYSTEM CANNOT PROCESS INPUT
    </p>
    <a href="/" class="btn btn-light mt-4 px-4 py-2 fw-bold">RETOUR</a>
</div>
{% endblock %}